.navbar{
    width: 100%;
    height: 60px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.navrow{
    display: flex;
}
.navrow1{
    display: flex;
    cursor: pointer;
}
.navrow2{
    display: flex;
    opacity: 0.7;
    font-weight: bold;
    font-size: 13px;
    margin-top: 25px;
    justify-content: space-evenly;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.navrow3{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    cursor: pointer;
    margin-left: 200px;
}

.bottomNav{
    width: 100%;
    height: 70px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
    line-height: 10px;
}
#list::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #fff;
    margin: auto;
    display: block;
   
}
#list:hover::after{
    width: 100%;
    transition: 0.5s linear;
}

.wavy{
    position: relative;
    -webkit-box-reflect:below -12px linear-gradient(
        transparent, rgba(0,0,0,0.2));
}
.wavy span{
    position: relative;
    display: inline-block;
    animation: animate 1s ease-in-out infinite;
    animation-delay:calc(0.1s * var(--i)) ;
}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-5px);
    }
    70%,100%{
        transform: translateY(0px);
    }
}
/* .megaBox{
    position: absolute;
    top: 130px;
    width: 100%;
    left: 0;
    opacity: 0;
   
}
.megaBox:hover{
    top: 130px;
    opacity:1;
    visibility: visible;
    transition: all 0.3s ease;
}

.megaBox .content{
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-evenly;
}
.content .row{
    width: calc(25% - 30px);
    line-height: 40px;
}
.content .row header{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}
.content .row .meghaLinks{
    margin-left: -40px;
    border-left: 1px solid rgba(8, 8, 8, 0.09);
}
.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}
.row .megaLinks li{
    padding: 0 20px;
}

.row .megaLinks li{
    color: #d9d9d9;
    font-size: 15px;
    display: block;
} */